@page "/Admin/Dashboard"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h3>Dashboard</h3>

<AuthorizeView Roles="Admin">
    <Authorized>
        Hello Admin @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        You do not have access to this page.
    </NotAuthorized>
</AuthorizeView>

@code {

}
